# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Canisters
/src/declarations
.dfx
.vessel
.mops
/backend/

# Environment variables
.env
.env.local
.env.development
.env.test
.env.production
log5.txt
logold.txt
logs1.txt
logs2.txt
logs4.txt
logs6.txt
log8.txt
log9.txt
log10.txt
logs7.txt
blocker1.txt
blocker2.txt
blocker3.txt
blocker4.txt
blocker5.txt
blocker6final.txt
blocker7.txt
blocker8.txt
blocker9final.txt
blocker10final.txt
blocker12.txt
blocker13.txt
blocker14.txt
blocker15.txt
blocker16.txt
blocks.json
log11.txt
log12.txt
log13.txt
log14.txt
log15.txt
log16.txt
log17.txt
log18.txt
log19.txt
log20.txt
log21.txt
log22.txt
miners1.txt
miners1a.txt
miners1afinal.txt
miners15.txt
results.did
results1.txt
set1.txt
strat1.txt
strat2.txt
strat3.txt
transformed_records.did
plot.py
plotwinner.py
ProcessID.txt
src/logset.did
sub.txt
sub2.txt
sub3.txt
sub4.txt
sub5.txt
